.settings-wrapper{
    padding-top: 72px;
    background: white;
    height: 100vh;
    overflow-y: auto;
    .inner-wrapper{
        max-width: 60%;
        margin: 0 auto;
        padding: 40px 0;
        .login-wrapper{
            height: auto;
            align-items: flex-start;
        }
    }
    footer{
        text-align: center;}
    .lnkfooter{color: rgb(185 187 191);
        text-decoration: none;}
    .lnkfooter:hover{color: rgb(53, 51, 51);
            text-decoration: none;}
    .nav{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .nav-item{
            margin: 0 10px;
        }
        .nav-link{
            font-size: 16px;
            font-weight: normal;
            padding: 8px 10px;
            min-width: 120px;
            text-align: center;
            color: var(--bs-body-color);
            cursor: pointer;
            &.active{
                background: #ECF4FD;
                border-radius: 9999px;
                color: var(--bs-body-color);
                // border-bottom: 1px solid #33CCCC;
            }
        }
    }
}